@font-face {
    font-family: "Fira Code";
    src: url('/fonts/FiraCode-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: "Fira Code";
    font-size: 14pt;
}

a, a:visited { text-decoration: none; font-weight:bold; }
a:hover { color: #84cc16; text-decoration: underline; font-weight:bold; }

/* Custom style for inline code */
code, c2 { 
    font-size: 14pt; 
    font-weight: 800;
    color: #a1e335; 
    background-color: #3f3f3f; 
    padding: 0.38em 0.62em; 
    border-radius: 9px; 
}

.tagcloud03 {
    width: 880px;
    margin: 10px;
   text-align: center;
}

.tagcloud03 ul.cloud li {
     margin: 0;
}
 .tagcloud03 ul.cloud li a {
  padding: 0 1em 0 1em;
   border: none;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.tagcloud03 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tagcloud03 ul li {
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  padding: 0;
}
 
.tagcloud03 ul li a {
  position: relative;
  display: inline-block; 
  /* max-width: 250px; */
  /* max-width: 480px; */
  max-width: 360px;
  height: 35px;
  line-height: 35px;
  /* padding: 0 2.5em 0 1em; */
  padding: 50px;
  /*background-color: #fff;*/
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* color: #333; */
  color: #84cc16;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
 
.tagcloud03 ul li a:hover {
  /* background-color: #4b56a8; */
  /*background-color: #78716c;*/
  /*border: 1px solid #0085A1;*/
  border: 1px solid #84cc16;
  /* color: #fff; */
  color: #10b981;
  text-decoration: underline; 
  font-weight:bold; 

}

